html, body {
  height: 100%;
  margin: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }

.calendar-card {
  border: 1px solid #bdbdbd;
  width: 595px;
  height: 425px; }
  .calendar-card .calendar-body {
    display: flex;
    flex-wrap: wrap; }
    .calendar-card .calendar-body .calendar-day {
      border: 1px solid #bdbdbd;
      width: 80px;
      height: 80px; }
