@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html, body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px; }

h6 {
  font-weight: 500;
  font-size: 1.25rem; }

html, body {
  height: 100%;
  margin: 0; }

body {
  background-color: #c5cae9;
  display: flex;
  justify-content: center;
  align-items: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.btn-flat {
  border-radius: 4px;
  display: inline-block;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 8px;
  padding: 16px;
  text-decoration: none; }
  .btn-flat + .btn-flat {
    margin-left: 0; }
  .btn-flat.btn-default {
    color: #616161; }
  .btn-flat.btn-primary {
    color: #3f51b5; }
  .btn-flat.btn-accent {
    color: #ff9800; }
  .btn-flat.btn-error {
    color: #b00020; }
  .btn-flat:hover {
    background-color: #EEEEEE; }

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; }
  .form-group label {
    color: #212121;
    font-size: 0.75rem;
    margin-bottom: 8px; }
  .form-group input {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    padding: 8px; }
  .form-group textarea {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    height: 40px;
    outline: none;
    padding: 8px;
    resize: none; }
  .form-group:last-child {
    margin-bottom: 0; }
  .form-group.has-focus label {
    color: #ff9800; }
  .form-group.has-focus input, .form-group.has-focus textarea {
    border-color: #ff9800; }

.calendar-card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white; }
  .calendar-card .calendar-header {
    background-color: #3f51b5;
    color: white;
    height: 56px;
    text-transform: uppercase;
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .calendar-card .calendar-header .month-control {
      cursor: pointer; }
  .calendar-card .calendar-week-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbdbd; }
    .calendar-card .calendar-week-header div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-style: solid;
      border-color: #bdbdbd;
      border-width: 0 1px 0 0;
      color: #ff9800;
      font-size: 0.875rem;
      height: 36px;
      width: 100%; }
      .calendar-card .calendar-week-header div:last-child {
        border: none; }
  .calendar-card .calendar-body {
    width: 455px;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 0 0 0 1px; }
    .calendar-card .calendar-body .calendar-month {
      display: flex;
      flex-wrap: wrap; }
      .calendar-card .calendar-body .calendar-month .calendar-day {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-style: solid;
        border-color: #bdbdbd;
        border-width: 0 1px 1px 0;
        width: 64px;
        height: 64px;
        z-index: 1; }
        .calendar-card .calendar-body .calendar-month .calendar-day h6 {
          color: #bdbdbd;
          font-size: 0.875rem;
          margin: 8px 0 0 0; }
        .calendar-card .calendar-body .calendar-month .calendar-day .hover-icon {
          display: none; }
        .calendar-card .calendar-body .calendar-month .calendar-day .fixed-icon {
          margin-top: 6px;
          color: #ff9800; }
        .calendar-card .calendar-body .calendar-month .calendar-day.available-day {
          background-color: white;
          cursor: pointer; }
          .calendar-card .calendar-body .calendar-month .calendar-day.available-day h6 {
            color: #212121; }
            .calendar-card .calendar-body .calendar-month .calendar-day.available-day h6.current-day {
              color: white;
              z-index: 20; }
          .calendar-card .calendar-body .calendar-month .calendar-day.available-day .current-day-mark {
            border-radius: 100%;
            background-color: #ff9800;
            display: block;
            margin: 4px 0 0 0;
            position: absolute;
            z-index: 10;
            width: 24px;
            height: 24px; }
          .calendar-card .calendar-body .calendar-month .calendar-day.available-day:hover .hover-icon {
            color: #bdbdbd;
            display: block;
            margin-top: 6px; }

.scrim {
  background-color: rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50; }
  .scrim.visible {
    display: flex;
    justify-content: center;
    align-items: center; }

.dialog-appointment {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 4px;
  width: 280px; }
  .dialog-appointment .dialog-appointment-header {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 0 0 1px 0; }
    .dialog-appointment .dialog-appointment-header h6 {
      font-size: 0.875rem; }
  .dialog-appointment .dialog-appointment-body {
    padding: 20px; }
  .dialog-appointment .dialog-appointment-actions {
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 1px 0 0 0; }
