.scrim{
    background-color: rgba(black, 0.45);
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 50;

    &.visible{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dialog-card{
    @include elevation(24);
    background-color: white;
    border-radius: 4px;

    width: 300px;

    .dialog-header{
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-style: solid;
        border-color: $divider;
        border-width: 0 0 1px 0;

        h6{
            font-size: 0.875rem;
        }
    }

    .dialog-body{
        padding: 20px;
    }

    .dialog-actions{
        border-style: solid;
        border-color: $divider;
        border-width: 1px 0 0 0;
    }

    #dialog-appointment-subtitle{
        text-align: center;
        margin-top: 0;
    }

    #dialog-confirmation{
        text-align: center;
    }
}

.visible{
    display: block;
}

.invisible{
    display: none;
}