.btn-flat{
    display: inline-block;
    font-weight: 500;
    font-size: 0.875rem;
    margin: 16px;
    text-decoration: none;

    &.btn-default{
        color: $gray-700;
    }

    &.btn-primary{
        color: $primary;
    }

    &.btn-accent{
        color: $accent;
    }

    &.btn-error{
        color: $error;
    }
}