.btn-flat{
    border-radius: 4px;
    display: inline-block;
    font-weight: 500;
    font-size: 0.875rem;
    margin: 8px;
    padding: 16px;
    text-decoration: none;

    &+.btn-flat{
        margin-left: 0;
    }

    &.btn-default{
        color: $gray-700;
    }

    &.btn-primary{
        color: $primary;
    }

    &.btn-accent{
        color: $accent;
    }

    &.btn-error{
        color: $error;
    }

    &:hover{
        background-color: $gray-200;
    }
}