$day-size: 64px;

.calendar-card{
    @include elevation(1);
    background-color: white;

    .calendar-header{
        background-color: $primary;
        color: white;
        height: 56px;
        text-transform: uppercase;
        padding: 0 16px 0 16px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        .month-control{
            cursor: pointer;
        }
    }

    .calendar-week-header{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $divider;

        div{
            display: flex;
            justify-content: center;
            align-items: center;

            border-style: solid;
            border-color: $divider;
            border-width: 0 1px 0 0;

            color: $accent;
            font-size: 0.875rem;
            height: 36px;
            width: 100%;

            &:last-child{
                border: none;
            }
        }
    }

    .calendar-body{
        width: ($day-size+1)*7;
        //height: ($day-size+1)*5;

        display: flex;
        flex-wrap: wrap;

        border-style: solid;
        border-color: $divider;
        border-width: 0 0 0 1px;

        .calendar-day{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border-style: solid;
            border-color: $divider;
            border-width: 0 1px 1px 0;
            width: $day-size;
            height: $day-size;
            z-index: 1;

            h6{
                color: $divider;
                font-size: 0.875rem;
                margin: 8px 0 0 0;
            }

            .hover-icon{
                display: none;
            }

            .fixed-icon{
                margin-top: 6px;
                color: $accent;
            }

            &.available-day{
                background-color: white;
                cursor: pointer;

                h6{
                    color: $primary-text;

                    &.current-day{
                        color: white;
                        z-index: 20;
                    }
                }

                .current-day-mark{ 
                    border-radius: 100%;
                    background-color: $accent;
                    display: block;
                    margin: 4px 0 0 0;
                    position: absolute;
                    z-index: 10;
                    width: 24px;
                    height: 24px;
                }

                &:hover{
                    .hover-icon{
                        color: $divider;
                        display: block;
                        margin-top: 6px;
                    }
                }
            }

        }
    }
}