$mdc-elevation-baseline-color: black;
$mdc-elevation-umbra-opacity: .2;
$mdc-elevation-penumbra-opacity: .14;
$mdc-elevation-ambient-opacity: .12;

$mdc-elevation-umbra-map: (
  1: 0px 2px 1px -1px,
  24: 0px 11px 15px -7px
);

$mdc-elevation-penumbra-map: (
  1: 0px 1px 1px 0px,
  24: 0px 24px 38px 3px
);

$mdc-elevation-ambient-map: (
  1: 0px 1px 3px 0px,
  24: 0px 9px 46px 8px
);

@mixin elevation($z-value){
    box-shadow:
        map-get($mdc-elevation-umbra-map, $z-value) rgba($mdc-elevation-baseline-color, $mdc-elevation-umbra-opacity),
        map-get($mdc-elevation-penumbra-map, $z-value) rgba($mdc-elevation-baseline-color, $mdc-elevation-penumbra-opacity),
        map-get($mdc-elevation-ambient-map, $z-value) rgba($mdc-elevation-baseline-color, $mdc-elevation-ambient-opacity);
}